::root {
  --blur: 15px;
  --borderRadius: 25px;
  --adjustableHeight: 26%;
  --noWeatherHeight: 23%;
}

body {
  padding: 0;
  margin: 0;
  font-size: 0.6875rem;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

@font-face {
  font-family: "reef";
  src: url(./../assets/fonts/reef.woff) format("woff");
  font-weight: normal;
  font-style: normal;
}

.dock {
  height: var(--adjustableHeight);
  width: 100%;
  position: absolute;
  bottom: 0;
  font-family: "reef";
  text-transform: lowercase;
  letter-spacing: 0.05em;
  text-shadow: 1px 1px 1px rgba(100, 100, 100, 0.15);
  background-color: var(--dockColor);
  border-radius: var(--borderRadius);

  &.hiddenWeather {
    height: var(--noWeatherHeight);
  }

  &::before {
    content: "";
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    backdrop-filter: blur(var(--blur));
  }

  &__info {
    margin: 6.5% 7.625%;
    color: var(--textColor);
  }

  &__entry {
    display: flex;
    align-items: center;
    margin: 0.5em 0;

    & + .dock__entry {
      margin-left: 2em;
    }
  }

  &__bullet {
    width: 1.125em;
    height: 1.125em;
    position: relative;
    display: grid;
    place-items: center;
    margin-right: 1em;

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      opacity: 0.6;
      border-radius: 50%;
    }

    &.pri::before {
      background-color: var(--primaryAccent);
    }
    &.sec::before {
      background-color: var(--secondaryAccent);
    }
    &.ter::before {
      background-color: var(--tertiaryAccent);
    }
    &.qua::before {
      background-color: var(--quarternaryAccent);
    }

    &--inner {
      width: 50%;
      height: 50%;
      border-radius: 50%;
      z-index: 10;

      &.pri {
        background-color: var(--primaryAccent);
      }
      &.sec {
        background-color: var(--secondaryAccent);
      }
      &.ter {
        background-color: var(--tertiaryAccent);
      }
      &.qua {
        background-color: var(--quarternaryAccent);
      }
    }
  }
}

.flavor--Default {
  --primaryAccent: #b5d8ef;
  --secondaryAccent: #e0c1ce;
  --tertiaryAccent: #ffffaf;
  --quarternaryAccent: #b5efc4;
  --dockColor: #ffffff0a;
  --textColor: #fff;
}
